
{{> headerPartial }}

<!-- ##### Breadcrumb Area Start ##### -->
<section class="breadcrumb-area bg-img bg-overlay" style="background-image: url(/images/bg-img/40.jpg);">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="breadcrumb-content">
                    <h2>Admin</h2>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### Breadcrumb Area End ##### -->

<!-- ##### Admin Area Start ##### -->
<div class="mag-login-area py-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-6">
                <div class="bg-white p-30 box-shadow mb-15">
                    <!-- Section Title -->
                    <div class="section-heading">
                        <h5>{{title}}</h5>
                    </div>
                    <h2 class="msg p-30">{{msg}}</h2>
                    <a class="btn mag-btn mt-30" href="http://localhost:3000/admin">ok</a>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- ##### Admin Area End ##### -->

{{> footerPartial }}
