{{> headerPartial }}

<!-- ##### Breadcrumb Area Start ##### -->
<section class="breadcrumb-area bg-img bg-overlay" style="background-image: url(/images/bg-img/40.jpg);">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="breadcrumb-content">
                    <h2>Admin</h2>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### Breadcrumb Area End ##### -->

<!-- ##### Breadcrumb Area Start ##### -->
<div class="mag-breadcrumb p-15">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#"><i class="fa fa-home" aria-hidden="true"></i> Home</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">Admin</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- ##### Breadcrumb Area End ##### -->

<!-- ##### Admin Area Start ##### -->
<div class="mag-login-area py-5">
    <div class="container">

        <div class="row justify-content-center users">
            <div class="col-12 col-lg-6">
                <div class="bg-white p-30 box-shadow mb-15">
                    <!-- msgs (errors or success) -->
                    {{> Msgs }}
                    <!-- Section Title -->
                    <div class="section-heading">
                        <h5>Create user</h5>
                    </div>
                    <a href="/admin" class="btn back-btn mt-5"><< Back </a>

                    <form action="/admin/user/add" method="post" enctype="multipart/form-data">

                        <div class="form-group">
                            <label>Username</label>
                            <input type="text" class="form-control" name="username" placeholder="Enter username">
                        </div>
                        <div class="form-group">
                            <label>Email</label>
                            <input type="email" class="form-control" name="email" placeholder="Enter your email">
                        </div>
                        <div class="form-group">
                            <label>Password</label>
                            <input type="password" class="form-control" name="password" placeholder="Enter password">
                        </div>
                        <div class="form-group">
                            <label>Role</label>
                            <input type="text" class="form-control" name="role" placeholder="Enter role">
                        </div>
                        <div class="form-group">
                            <label>Avatar</label>
                            <input type="file" class="form-control-file" name="avatar">
                        </div>
                        <button type="submit" class="btn mag-btn mt-30">Create</button>
                    </form>

                </div>
            </div>
        </div>
        <div class="row justify-content-center users">
            <div class="col-12 col-lg-6">
                <div class="bg-white p-30 box-shadow mb-15">
                    <!-- Section Title -->
                    <div class="section-heading">
                        <h5>Update user</h5>
                    </div>

                    <form action="/admin/user/update" method="post" enctype="multipart/form-data">
                        <div class="form-group">
                            <label>Username to update</label>
                            <input type="text" class="form-control" name="updateUserName" placeholder="Entser username">
                        </div>
                        <div class="form-group">
                            <label>New username</label>
                            <input type="text" class="form-control" name="newUserName" placeholder="Enter new username">
                        </div>
                        <div class="form-group">
                            <label>New email</label>
                            <input type="email" class="form-control" name="newEmail" placeholder="Enter your email">
                        </div>
                        <div class="form-group">
                            <label>New password</label>
                            <input type="password" class="form-control" name="newPassword"
                                   placeholder="Enter new password">
                        </div>
                        <div class="form-group">
                            <label>New role</label>
                            <input type="text" class="form-control" name="newRole" placeholder="Enter role">
                        </div>
                        <div class="form-group">
                            <label>New avatar</label>
                            <input type="file" class="form-control-file" name="newAvatar">
                        </div>
                        <button type="submit" class="btn mag-btn mt-30">Update</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="row justify-content-center users">
            <div class="col-12 col-lg-6">
                <div class="bg-white p-30 box-shadow mb-15">
                    <!-- Section Title -->
                    <div class="section-heading">
                        <h5>Delete user</h5>
                    </div>

                    <form action="/admin/user/delete" method="post">
                        <div class="form-group">
                            <label>Delete user</label>
                            <input type="text" class="form-control" name="removeUser"
                                   placeholder="Enter user for remove">
                        </div>
                        <button type="submit" class="btn mag-btn mt-30">Delete</button>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- ##### Admin Area End ##### -->

{{> footerPartial }}
